:root{
    --primary-background-color: #0C0015;
    --primary-background-color-30: #0c001547;
    --primary-background-color-light: #8033CE;
    --primary-text-color: #fff;
    --secondary-text-color: #5f5f5f;
    --secondary-text-color-50: #5f5f5f9f;
}

 /*scrollbars*/
 ::-webkit-scrollbar { 
    width: 6px; 
    z-index: 5000;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 15px;
    margin-top: 64px;
    margin-bottom: 64px;
    z-index: 5000;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 15px;
    z-index: 5000;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0C0015;
    z-index: 5000; 
  }

  /* Handle on active */
  ::-webkit-scrollbar-thumb:active {
    background: #0C0015;
    z-index: 5000; 
  }

body{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 99vw;
    overflow-y: auto;
    overflow-x: hidden;
    overflow: overlay;
    position: relative;
    scroll-behavior: smooth;
}

#globe1{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -1;
    margin-left: 40vw;
    animation: globe1bounce 10s infinite;
}

/* make globe1 bounce up and down slowly using bezier curve */
@keyframes globe1bounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-200px);
    }
}

#globe2{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 120vh;
    margin-left: -20vw;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -1;
    animation: globe2bounce 10s infinite;
}

/* make globe2 bounce up and down slowly using bezier curve */
@keyframes globe2bounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-200px);
    }
}

#globe4{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    filter: blur(100px);
    top: 280vh;
    left: 50vw;
    z-index: -1;
    animation: globe4fullrotate 10s infinite;
}

/* make globe4 rotate slowly using bezier curve */
@keyframes globe4fullrotate{
    0%, 100%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 80vw;
    height: 40px;
    border-radius: 25px;
    border: 1px solid var(--secondary-text-color-50);
    margin-top: 1rem;
    position: fixed;
    background: var(--primary-background-color-30);
    backdrop-filter: blur(100px);
    z-index: 9999;
}

header span{
    display: flex;
    align-items: center;
    transition: 0.3s transform ease-in-out;
    cursor: pointer;
}

header span h3:hover{
    transform: scale(1.05);
}

header span h3:active{
    transform: scale(0.95);
}

header span h3{
    margin-left: 0.5rem;
    font-size: 20px;
}

header section{
    display: flex;
    align-items: center;
}

header section a h4{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: 0.3s transform ease-in-out;
    font-size: 16px;
}

header section a h4:hover{
    transform: scale(1.05);
}

header section a h4:active{
    transform: scale(0.95);
}

.main-content{
    margin-top: calc(50px + 4rem);
}

#home, #about, #projects, #contact{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content section h1{
    margin-top: 1rem;
    font-size: 64px;
    font-family: "Sour Gummy", sans-serif;
}

.main-content section .background-text{
    -webkit-text-stroke: 1px var(--primary-background-color-light);
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}

.main-content section .foreground-text{
    margin-top: -60px;
    margin-bottom: 2rem;
}

.main-content section p{
    margin-top: 1rem;
    font-size: 24px;
    width: 80vw;
    text-wrap: wrap;
}

.main-content section button{
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 16px;
    background: var(--primary-text-color);
    color: var(--secondary-text-color);
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s transform ease-in-out;
    width: fit-content;
}

.main-content section button:hover{
    transform: scale(1.05);
}

.main-content section button:active{
    transform: scale(0.95);
}

.main-content #about .timeline {
    padding: 20px;
}

.main-content #about .outer {
    border-left: 2px solid var(--secondary-text-color-50);
}

.main-content #about .card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    border-radius: 20px;
}

.main-content #about .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-content #about .info p {
    line-height: 32px;
}

.main-content #about .title {
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--primary-text-color);
    border-radius: 999px;
    left: -36px;
}

.main-content #projects aside{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.main-content #projects article{
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--secondary-text-color-50);
    transition: 0.3s transform ease-in-out;
    cursor: pointer;
    width: 258px;
    margin-right: 5rem;
}

.main-content #projects article h3{
    margin-top: -1rem;
    font-size: 24px;
    margin-left: 5px;
}

.main-content #projects article h4{
    font-size: 16px;
    margin-left: 5px;
    text-wrap: wrap;
    margin-top: 1rem;
}

.main-content #projects article button{
    margin-top: 2rem;
    border: none;
    border-radius: 14px;
    background: var(--primary-text-color);
    color: var(--secondary-text-color);
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s transform ease-in-out;
    width: 246px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.main-content #projects article button:hover{
    transform: scale(1);
}

.main-content #projects article:hover{
    transform: scale(1.05);
}

.main-content #projects article:active{
    transform: scale(0.95);
}

.main-content #projects article nav{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 258px;
    height: 167px;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}

.main-content #projects article nav img{
    display: inline;
    min-width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}

.main-content #contact nav {
    display: flex;
    width: 80vw;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-content #contact nav p {
    margin-left: 1rem;
}

.main-content #contact nav .email-container, .main-content #contact nav .phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 150px;
    background: #c6c6c61b;
    border-radius: 20px;
}

.main-content #contact nav .email-container nav, .main-content #contact nav .phone-container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.main-content #contact nav .email-container nav img, .main-content #contact nav .phone-container nav img {
    display: inline;
    min-width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 80vw;
    height: 200px;
    border-radius: 25px;
    border: 1px solid var(--secondary-text-color-50);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer .header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

footer .footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    gap: 1rem;
}

footer .footer-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

footer .footer-content .languages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .footer-content .languages nav{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 24px;
    height: 24px;
    border-radius: 24px;
}

footer .footer-content .languages nav img{
    display: inline;
    min-width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}

footer .footer-content .social-media{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-left: 150px;
    align-items: center;
    gap: 30px;
}

footer .footer-content .social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 24px;
    height: 24px;
}

footer .footer-content .social-media a img{
    display: inline;
    min-width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}