:root{
    --primary-background-color: #0C0015;
    --primary-background-color-30: #0c001547;
    --primary-background-color-light: #8033CE;
    --primary-text-color: #fff;
    --secondary-text-color: #5f5f5f;
    --secondary-text-color-50: #5f5f5f9f;

    --standard-blur: 100px;
    --standard-header-height: 40px;

    --mobile-content-container: 90vw;
    --tablets-and-up-content-container: 80vw;
    --mobile-content-height-container: 90vh;
    --tablets-and-up-content-height-container: 90vh;

    --large-screen-width-breakpoint: 1185px;
    --large-screen-height-breakpoint: 900px;
    --biggest-border-radius: 25px;
    --medium-border-radius: 20px;
    --small-border-radius: 15px;

    --highest-z-index: 9999;

    --hover-scale: 1.05;
    --active-scale: 0.95;
}

/*scrollbars*/
::-webkit-scrollbar { 
    width: 6px; 
    z-index: var(--highest-z-index);
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: var(--small-border-radius);
    margin-top: 4rem;
    margin-bottom: 4rem;
    z-index: var(--highest-z-index);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-text-color);
    border-radius: var(--small-border-radius);
    z-index: var(--highest-z-index);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-background-color);
    z-index: var(--highest-z-index);
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
    background: var(--primary-background-color);
    z-index: var(--highest-z-index);
}

html{
    overflow-x: hidden;
}

body{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Inter, sans-serif;
    overflow-x: hidden;
    line-height: 1;
}

.all-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

#globe1{
    position: absolute;
    width: 70rem;
    height: 70rem;
    filter: blur(var(--standard-blur));
    z-index: -1;
    margin-left: 80vw;
    animation: globe1bounce 10s infinite;
}

/* make globe1 bounce up and down slowly using bezier curve */
@keyframes globe1bounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-200px);
    }
}

#globe2{
    position: absolute;
    width: 70rem;
    height: 70rem;
    top: 120vh;
    margin-left: -50vw;
    filter: blur(var(--standard-blur));
    z-index: -1;
    animation: globe2bounce 10s infinite;
}

/* make globe2 bounce up and down slowly using bezier curve */
@keyframes globe2bounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-200px);
    }
}

#globe4{
    position: absolute;
    width: 70rem;
    height: 70rem;
    filter: blur(var(--standard-blur));
    top: 240vh;
    left: 40vw;
    z-index: -1;
    animation: globe4fullrotate 50s infinite;
}

/* make globe4 rotate slowly using bezier curve */
@keyframes globe4fullrotate{
    0%, 100%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: min(var(--tablets-and-up-content-container), var(--large-screen-width-breakpoint));
    height: var(--standard-header-height);
    border-radius: var(--biggest-border-radius);
    border: 1px solid var(--secondary-text-color-50);
    margin-top: 1rem;
    position: fixed;
    background: var(--primary-background-color-30);
    backdrop-filter: blur(var(--standard-blur));
    z-index: var(--highest-z-index);
    container-type: inline-size;
}

header span{
    display: flex;
    align-items: center;
    transition: 0.3s transform ease-in-out;
    cursor: pointer;
}

header span h3:hover{
    transform: scale(var(--hover-scale));
}

header span h3:active{
    transform: scale(var(--active-scale));
}

header span h3{
    margin-left: 0.5rem;
    font-size: 1.3rem;
}

@container (max-width: 500px){
    header span h3{
        display: none;
    }
}

header section{
    display: flex;
    align-items: center;
}

header section a h4{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: 0.3s transform ease-in-out;
    font-size: 1rem;
}

header section a h4:hover{
    transform: scale(var(--hover-scale));
}

header section a h4:active{
    transform: scale(var(--active-scale));
}

.main-content{
    margin-top: calc(var(--standard-header-height) + 5rem);
}

#home, #about, #projects, #contact{
    max-width: min(var(--tablets-and-up-content-container), var(--large-screen-width-breakpoint));
    min-height: var(--tablets-and-up-content-height-container);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content section h1{
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size: 4rem;
    font-family: "Sour Gummy", sans-serif;
    overflow-y: hidden;
    text-wrap: wrap;
}

.main-content section .background-text{
    -webkit-text-stroke: 1px var(--primary-background-color-light);
    -webkit-text-fill-color: transparent;
    margin-left: 0.6rem;
}

.main-content section .foreground-text{
    margin-top: -4.7rem;
    margin-bottom: 2rem;
}

.main-content section .section-title-on-home, .section-title-on-about, .section-title-on-contact, .section-title-on-projects{
    container-type: inline-size;
}

@container (max-width: 500px){
    .main-content section .section-title-on-home .foreground-text{
        margin-top: -8.7rem;
    }
}

@container (max-width: 280px){
    .main-content section .section-title-on-about .foreground-text{
        margin-top: -8.7rem;
    }
}

@container (max-width: 340px){
    .main-content section .section-title-on-projects .foreground-text{
        margin-top: -8.7rem;
    }
}

@container (max-width: 436px){
    .main-content section .section-title-on-contact .foreground-text{
        margin-top: -8.7rem;
    }
}

.main-content section p{
    margin-top: 1rem;
    font-size: 1.5rem;
    width: min(calc(var(--tablets-and-up-content-container) - 8vw), var(--large-screen-width-breakpoint));
    text-wrap: wrap;
}

.main-content section button{
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 1rem;
    background: var(--primary-text-color);
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s transform ease-in-out;
    width: fit-content;
}

.main-content section button:hover{
    transform: scale(var(--hover-scale));
}

.main-content section button:active{
    transform: scale(var(--active-scale));
}

.main-content #about .timeline {
    padding: 1.2rem;
}

.main-content #about .outer {
    border-left: 1px solid var(--secondary-text-color-50);
    
}

.main-content #about .card {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    
}

.main-content #about .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-content #about .info p {
    line-height: 32px;
}

.main-content #about .title {
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: relative;
    
}

.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--primary-text-color);
    border-radius: 50%;
    left: -2.35rem;
    top: 35%;
}

.main-content #projects .projects-container{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-content #projects article{
    border-radius: var(--medium-border-radius);
    overflow: hidden;
    border: 1px solid var(--secondary-text-color-50);
    transition: 0.3s transform ease-in-out;
    cursor: pointer;
    width: 258px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content #projects article h3{
    margin-top: -1rem;
    font-size: 1.5rem;
    margin-left: 5px;
}

.main-content #projects article h4{
    font-size: 1rem;
    margin-left: 5px;
    text-wrap: wrap;
    margin-top: 1rem;
}

.main-content #projects article button{
    margin-top: 2rem;
    border: none;
    border-radius: var(--small-border-radius);
    background: var(--primary-text-color);
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s transform ease-in-out;
    width: 246px;
    margin-bottom: 6px;
}

.main-content #projects article button:hover{
    transform: scale(1);
}

.main-content #projects article:hover{
    transform: scale(var(--hover-scale));
}

.main-content #projects article:active{
    transform: scale(var(--active-scale));
}

.main-content #projects article nav{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 258px;
    height: 167px;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}

.main-content #projects article nav img{
    display: inline;
    min-width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}

.main-content #contact nav {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.main-content #contact nav p {
    width: fit-content;
}

.main-content #contact nav .email-container, .main-content #contact nav .phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 150px;
    background: #c6c6c61b;
    border-radius: var(--medium-border-radius);
}

.main-content #contact nav .email-container nav, .main-content #contact nav .phone-container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.main-content #contact nav .email-container nav img, .main-content #contact nav .phone-container nav img {
    display: inline;
    min-width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: min(var(--tablets-and-up-content-container), var(--large-screen-width-breakpoint));
    border-radius: var(--biggest-border-radius);
    border: 1px solid var(--secondary-text-color-50);
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 2rem;
}

footer .header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

footer .footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

footer .footer-links a h4 {
    width: 6rem;
    text-align: center;
}

footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 1rem;
    flex-wrap: wrap;
}

footer .footer-content .languages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 18rem;
}

footer .footer-content .languages nav{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 24px;
    height: 24px;
    border-radius: 24px;
}

footer .footer-content .languages nav img{
    display: inline;
    min-width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}

footer .footer-content .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 18rem;
}

footer .footer-content .social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 24px;
    height: 24px;
}

footer .footer-content .social-media a img{
    display: inline;
    min-width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}

footer .footer-content .copy-right{
    width: 18rem;
}